# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [3]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [5]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [6]:
# your code here
my_series = pd.Series(lst)

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [8]:
# your code here
my_series[2]

np.float64(74.4)

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [10]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [11]:
# your code here
df = pd.DataFrame(b, columns = [1,2,3,4,5])

### 5. Rename the data frame columns based on the names in the list below.

In [13]:
column_names = ["Score_1", "Score_2", "Score_3", "Score_4", "Score_5"]

In [14]:
# your code here
df = pd.DataFrame(b, columns = ["Score_1", "Score_2", "Score_3", "Score_4", "Score_5"])

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [16]:
# your code here
my_subset = df[["Score_1","Score_3","Score_5"]]

### 7. From the original data frame, calculate the average Score_3 value.

In [18]:
# your code here
df['Score_3'].mean()

np.float64(56.95000000000001)

### 8. From the original data frame, calculate the maximum Score_4 value.

In [20]:
# your code here
df['Score_4'].max()

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [22]:
# your code here
df['Score_2'].median()

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [24]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [25]:
# your code here
df1 = pd.DataFrame(orders)

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [27]:
# your code here
order_total = sum(df1['Quantity'])
rev_total = sum(df1['Revenue'])

print(order_total, rev_total)

2978 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [29]:
# your code here
min_cost = df1['UnitPrice'].min()
max_cost = df1['UnitPrice'].max()

print(max_cost - min_cost)

11.77

## Let's load another dataset for more exercisesÂº

In [31]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [33]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [35]:
# your code here
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [37]:
# your code here
admissions.set_index('Serial No.')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [40]:
# your code here

filtered_adm = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

print(filtered_adm)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
4             5        330          115                  5  4.5   3.0  9.34
10           11        328          112                  4  4.0   4.5  9.10
19           20        328          116                  5  5.0   5.0  9.50
20           21        334          119                  5  5.0   4.5  9.70
..          ...        ...          ...                ...  ...   ...   ...
379         380        329          111                  4  4.5   4.0  9.23
380         381        324          110                  3  3.5   3.5  9.04
381         382        325          107                  3  3.0   3.5  9.11
382         383        330          116                  4  5.0   4.5  9.45
384         385        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
4           1              0.90
10          1              0.78
19          1              0.94
20          1              0.95
..        ...               ...
379         1              0.89
380         1              0.82
381         1              0.84
382         1              0.91
384         1              0.95

[101 rows x 9 columns]

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [42]:
# your code here
filtered_adm_sop = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]
print(filtered_adm_sop)

print(list(admissions.columns))

filtered_adm_sop['Chance of Admit '].mean()

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
28           29        338          118                  4  3.0   4.5  9.40
62           63        327          114                  3  3.0   3.0  9.02
140         141        326          114                  3  3.0   3.0  9.11
217         218        324          111                  4  3.0   3.0  9.01
381         382        325          107                  3  3.0   3.5  9.11

     Research  Chance of Admit
28          1              0.91
62          0              0.61
140         1              0.83
217         1              0.82
381         1              0.84
['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']

np.float64(0.8019999999999999)